{% extends 'base.html' %}
{% load static %}


{% block content %}

	<div id="body">
		
		<div>
			<img src="{% static 'website/images/grew-a-mustache.jpg' %}" alt=""> 
			<div class="article">
				<h2>Dfinity's Internet Computer Opens Ethereum Bridge</h2>
				<p>
					Ethereum-based assets can now natively exist on Internet Computer via the new cross-chain bridge.
				</p>
				<p>
					Looking for more templates? Just browse through all our Free Website Templates and find what you’re looking for. But if you don’t find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you’re looking for something different, something special. And we love the challenge of doing something different and something special.
				</p>
				<p>
					If you’re experiencing issues and concerns about this website template, join the discussion on our forum and meet other people in the community who share the same interests with you. Website Template details, discussion and updates for this Mustacchio Template. Website Template design by Free Website Templates.
				</p>
			</div>
		</div>
	</div>

{% endblock %}