{% extends 'base.html' %}
{% load static %}


{% block content %}

	<div id="body">
		<h1><span>Articles Written By Me</span></h1>
		<div>
			<ul>
				<li>
					<a href="blog-single-post.html" class="figure">
						<img src="{% static 'website/images/dfinity.jpeg' %}" alt="">
					</a>
					<div>
						<h3>Dfinity's Internet Computer Opens Ethereum Bridge</h3>
						<p>
							Ethereum-based assets can now natively exist on Internet Computer via the new cross-chain bridge. Here's why it's important for DeFi and what this means for Web3.0
						</p>
						<a href="blog-single-post.html" class="more">read this</a>
					</div>
				</li>
				<li>
					<a href="blog-single-post.html" class="figure">
						<img src="{% static 'website/images/s2f.jpg' %}" alt="">
					</a>
					<div>
						<h3>Bitcoin Faces Bear Sentiment As Christmas dDlivers $50k BTC </h3>
						<p> Bitcoin bullish sentiment remains strong even though Stock 2 Flow model fails predections for the first time</p>
						<a href="blog-single-post.html" class="more">read this</a>
					</div>
				</li>
				<li>
					<a href="blog-single-post.html" class="figure">
						<img src="{% static 'website/images/mustache-brothers.jpg' %}" alt="">  
					</a>
					<div>
						<h3>the mustache brothers</h3>
						<p>
							Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
						</p>
						<a href="blog-single-post.html" class="more">read this</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

	{{ all_items }}
	
{% endblock %}

	
	
